# Input from comparator
set_io pulse_in 44 	# Example pin number, check documentation for actual pins

# Other necessary connections
set_io clk_12mhz 21     # Clock input
set_io uart_tx 105        # UART TX for sending results
set_io uart_rx 106          # UART RX (only for loopback)